
h1{
  font-size: xx-large;
  font-style: inherit;
  font-weight: bold;
  color: rgb(63, 202, 20);
  padding-top: 5px ;
  padding-bottom: 30px;
  text-align: center;
}  
.total{
  font-size: xx-large;
  font-style: inherit;
  font-weight: 100;
  color: rgb(47, 20, 202);
  padding: 30px;
  align-items: center;
  padding-left: 27pc;
}
p{
  outline: solid;
  outline-color: crimson;
  font-size: x-large;
  font-style: inherit;
  font-weight: bold;
  text-align: center;
  margin: 40px;

}
h4{
  font-size: large;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.desc-photo{
  display: flex;
  flex-direction: row;


}
.label{
  justify-content: center;
}
body{
  background-color: beige;
  padding-left: 200px;
  padding-right: 200px;
}   
 